<!DOCTYPE HTML>

<html>
	<head>
		<title>Approach</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="  css/main.css" />
		<noscript><link rel="stylesheet" href="  css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
							<a href="index.html" class="logo"><span>Keep your</span><strong>information safe</strong> </a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="home">Home</a></li>
							<li><a href="about">About us</a></li>
							<li><a href="generic.html">Idea</a></li>
							<li><a href="elements.html">Approach</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="details.html" class="button primary fit">CRAWL IT</a></li>
							<!--<li><a href="#" class="button fit">Log In</a></li>-->
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Approach</h1>
									</header>
									<!--<span class="image main"><img src="images/pic11.jpg" alt="" /></span>--><BR>
									<p>write approach here</p>
								</div>
							</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="  js/jquery.min.js"></script>
			<script src="  js/jquery.scrolly.min.js"></script>
			<script src="  js/jquery.scrollex.min.js"></script>
			<script src="  js/browser.min.js"></script>
			<script src="  js/breakpoints.min.js"></script>
			<script src="  js/util.js"></script>
			<script src="  js/main.js"></script>

	</body>
</html>
